
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

:root {
    --yellowindosat: #fed500;
    --redwarning: #fda19e;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.invalid-input {
    border-color: var(--redwarning) !important;
    outline: var(--redwarning) !important;
}
.navbar-brand_img{
    width: 150px
}
input {
    box-shadow:none !important;
    color: #a0a0a0 !important;
    border-radius: 0 !important;
    background: #e4e4e4 !important;
    border-color: #e4e4e4 !important;
}
.btn-primary{
    background: #ffeb00;
    border-color: #ffeb00;
    border-radius: 0;
    width: 200px;
    color: white;
    font-weight: bold;
}
