.badge {
	white-space: normal;
}
.dtr-details {
	width: 100%
}
.main-dashboard {
	padding-top: 60px
}
.for-hr.for-admin .main-brand {
	display: flex;
	flex: 0 0 130px;
	width: 130px;
	justify-content: center;
}
.main-header.for-steps .main-brand {
	margin: 0!important
}
.table tbody td:last-child {
	text-align: center;
}
@media (max-width: 599px) {
	.table thead th:not(:first-child) {
		min-width: 120px!important
	}

	/*.for-hr .dashboard-entry .panel-box.mt-24,*/
	.panel-table {
		margin-bottom: 0
	}
}
@media (min-width: 992px) {
	.for-hr.for-admin .main-brand {
		justify-content: start;
	}
}

@media (max-width: 1180px) {
	.top-hr .top-progress {
		width: 100%;
	}
}

.trainee-stats {
	margin: 36px 0 16px;
}
.trainee-stats .stats-item {
	width: 100%;
}
@media (min-width: 768px) {
	.trainee-stats .stats-item {
		width: calc(100% / 2);
	}
}
@media (min-width: 1120px) {
	.trainee-stats .stats-item {
		width: calc(100% / 4);
	}
}
.trainee-stats .stats-dual {
	flex-flow: row;
}

.dataTables_scrollHead, .dataTables_scrollBody {
	width: 100%!important;
}

select.form-control-sm:not([size]):not([multiple]),
select.form-control:not([size]):not([multiple]) {
	height: 28px!important;
	padding-top: 2px;
	padding-bottom: 2px;
}

.dashboard-legends {
	padding-right: 16px;
	padding-left: 16px;
	/*margin-bottom: 20px;*/

	width: 100%;
	display: block;
}
@media(min-width: 768px){
	.dashboard-legends {
		display: none
	}
}
.dashboard-legends dt,
.dashboard-legends dd {
	display: inline-block;
	padding: 4px
}
.dashboard-legends dt {
	font-weight: bold;
	text-align: center;
	margin-right: 10px;
	width: 40px;
}
.dashboard-legends dt.child1 {
	background-color: rgb(237,27,37);
	color: #fff;
}
.dashboard-legends dt.child2 {
	background-color: rgb(255, 159, 64);
	color: #fff;
}
.dashboard-legends dt.child3 {
	background-color: rgb(255,213,0);
	color: #fff;
}
.dashboard-legends dt.child4 {
	background-color: rgb(216,216,216);
	/*color: #fff;*/
}

.dashboard-steps .split-field.medium {
	align-items: center;
}
.dashboard-steps .split-field.medium .field-right {
	margin: 0 auto
}
.venue_button {
	width: calc(100% / 2 - 8px);
	/*flex: auto;*/
}
.box-items .btn.btn-default.add-more {
	margin: 10px 0 20px;
	text-align: center;
}

.form-section .form-group.reset {
	margin-bottom: 36px
}
.form-group.reset .form-control {
	padding: 10px 16px;
	height: 38px;
}
.form-group.reset .check-group {
	flex-direction: row;
}
@media (min-width: 768px){
	.form-group.reset .check-group {
		flex-direction: row;
	}
}
.form-group.reset .check-group .form-check {
	margin-left: 6px;
}

/*
 * Bottom nav extra
 */
.bottom-menu .btn {
	border-radius: 0!important;
	border-bottom: 2px solid transparent
}
.bottom-menu .btn.btn-iconic.active {
	border-bottom: 2px solid red
}

.item-card .item-card-description h3 {
	margin: 4px 0 0;

}
.trainee-text {font-style: normal;
    color: #909090;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 300;}
	html {
  font-size: 14px!important;
}

body {
  overflow-x: hidden !important;
}
.select2 {
	position: relative;
}
/*.select2-container--bootstrap.select2-container--open {
	position: fixed!important;
}
*/
/*html body,
.container-fluid {
    max-width: 1280px;
    margin: 0 auto;
}*/
.main-site {
  min-height: 100vh;
  overflow-x: hidden;
}
.main-content.secondary-nav {
	overflow: hidden!important;
}

.item-card .item-card-top img {
  display: block;
}

.owl-carousel .owl-stage {
  margin: 0 auto;
}

/*.right-login {
  padding: 20px;
}*/

footer {
  padding: 0;
}

.login-input h1 {
  font-size: 30px;
}

.field-group.has-more:nth-of-type(1) .remove-item {
  display: none !important;
}

.width-132 {
  width: 132px !important;
}

.top-user .dropdown.notif.active:before {
  top: 3px;
}


/*dashboard*/

.main-site.overlay {
  height: 100%;
}

@media (max-width: 767px) {
	.main-dashboard.secondary-nav {
    padding-top: 90px;
  }
  .main-inner.secondary-nav {
    padding-top: 85px;
  }
}
@media (max-width: 1023px) {
	.main-dashboard {
	  margin-top: 0;
	}
	.main-dashboard:not(.secondary-nav) {
		padding-top: 0
	}

	.main-dashboard.clean {
	  margin-top: 0;
	  padding-top: 0
	}

  .owl-item .item {
    height: 300px;
  }
  .main-dashboard, .main-inner{
  	padding-bottom: 60px;
  }
  .main-dashboard.secondary-nav{
    padding-top: 80px;
  }
}
@media (width: 768px){
	.main-inner{
  	padding-top: 0!important;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
	.main-inner.secondary-nav,
  .main-dashboard.secondary-nav{
    padding-top: 60px;
  }
}

.dashboard-title, .page-title {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.dashboard-title h1,
.dashboard-title h2,
.dashboard-title h3,
.dashboard-title h4,
.dashboard-title h5,
.dashboard-title h6 {
	margin: 0
}

/*end of dashboard*/

/* Tab nav in trainee request */
#tab-nav {
	position: fixed;
	top: 60px;
	left: 0;
	z-index: 1;
	background-color: #fff;

	width: 100%
}

#tab-nav .nav-link {
	height: 100%;
	padding: 10px;
	font-size: 10px
}
#tab-nav .nav-link span {
	display: block!important;
	font-size: 10px;
	line-height: 10px
}
#tab-nav .nav-link.active span {
	color: inherit;
}

@media (max-width: 767px) {
	#tab-nav {
		box-shadow: 0 1px 3px #ccc;
	}
  #tab-nav .nav-link.active {
  	box-shadow: none;
  	border-radius: 0;
  }
}
@media (min-width: 768px) {
	#tab-nav {
		position: static;
		background-color: transparent;
	}
	#tab-nav .nav-link {
		padding: 16px;
		font-size: 14px;
	}
}


/* Fix menu */
@media (min-width: 1024px) and (max-width: 1279px) {
    .coachee .main-brand {
        width: 80px;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
    }
    .coachee .main-nav a {
        padding: 0 16px;
    }
    .main-brand span {
        display: none;
    }
}

/*form request*/
@media (max-width: 640px) {
  .exit-button .btn.btn-default {
    color: #ff0000;
  }
}
.bottom-step {
  z-index: 10;
}
.steps-count .step-item.done .circle-number {
	position: relative;
}
.steps-count .step-item.done .circle-number i {
	font-size: 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*.dashboard-steps {
	margin-bottom: 120px
}*/
/*@media(min-width: 768px) {
	.dashboard-steps{ margin-bottom: 20px; }
}*/
.form-field .btn.btn-default.reset {
  white-space: normal
}
@media screen and (max-width: 767px) {
  .btn-question {
    width: 25px !important;
  }
  .form-field .btn.btn-default.reset {
    width: auto;
  }
}

@media (max-width: 1023px) {
  .main-brand img {
    object-fit: contain;
    padding: 8px 0;
  }
  .dashboard-steps {
    padding-bottom: 40px
  }
}


/*end of form requests*/


/*datatables*/

@media screen and (max-width: 767px) {
  .dataTables_length {
    display: none !important;
  }
}


/*end of datatables*/


/*trainee choose requests*/
.trainee-title {
	margin-top: 0
}

/*end of trainee choose requests*/

.review-item .center-form {
  margin-top: 80px;
}

.top-notif .notif-short-text {
  max-width: 229px !important;
  width: 229px !important;
  display: flex;
  height: auto;
}

.custom-pagination .active {
  background: #ed1c24;
  color: white;
  padding: 4px;
  border-radius: 5px;
}

.main-nav a {
  text-transform: capitalize !important;
}

.btn.btn-red-default {
  background: #ed1c24 !important;
  color: #fff !important;
  border-radius: 55px !important;
  border: 1px solid #ed1c24 !important;
}

.btn.btn-red-default:hover {
  background: #ffd500 !important;
  color: #221e20 !important;
  border: 1px solid #ffd500 !important;
}

.w-100 {
  width: 100% !important;
}

.review-item .sub-title .session_number {
  font-weight: bold;
  color: #ed1c24 !important;
}

.form-control {
	padding-right: .5rem;
	padding-left: .5rem;
}

.form-group .select2 {
  font-size: 14px;
}
.form-group .btn.btn-icon {
	line-height: 36px;
}
@media (max-width: 599px){
	.form-group .btn.btn-icon {
		padding: 0 2px;
	}
}

.form-group .select2 {
  font-family: "Open Sans", Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, -apple-system, BlinkMacSystemFont;
  font-weight: normal;
  font-size: inherit;
  line-height: inherit;
}
.select2-selection {
  background: #e9e9e9;
  border: 0;
  outline: none;
  box-shadow: none;
}


/*.main-brand {
    flex: 0 0 20% !important;
}*/

.btn {
  border-radius: 55px !important;
}

.btn-icon {
  border-radius: 0 !important;
}

.input-group .input-group-prepend {
  background: #f8f8f8 !important;
  border: 1px solid #e9e9e9 !important;
}

.input-group .input-group-text {
  color: black !important;
}

.modal-body {
  max-height: 60vh;
  overflow-x: auto;
}

.modal-body.modal-competency .form-check-label {
  padding: 0;
  color: red;
  font-size: 20px;
}

.btn-question {
  cursor: pointer !important;
  background: transparent;
  outline: none;
  border: none;
}

.btn-question i {
  color: red !important;
}

.venue_button input:checked {
  background: #fff !important;
  border: 1px solid #ed1c24 !important;
  color: #ed1c24 !important;
}


/* Custom Login page  */
.left-login {
	display: none;
  width: 0;
}

.right-login {
  flex: 0 0 100%;
  width: 100%;
  justify-content: center;
}

@media (min-width: 768px){
	.left-login {
		display: block;
	  -ms-flex: 0 0 50%;
	  flex: 0 0 50%;
	  width: 50%;
	}

	.right-login {
	  -ms-flex: 0 0 50%;
	  flex: 0 0 50%;
	  width: 50%;
	}
}

@media (min-width: 992px){
	.left-login {
		display: block;
	  -ms-flex: 0 0 60%;
	  flex: 0 0 60%;
	  width: 60%;
	}

	.right-login {
	  -ms-flex: 0 0 40%;
	  flex: 0 0 40%;
	  width: 40%;
	}
}

@media (min-width: 1200px){
	.left-login {
		display: block;
	  -ms-flex: 0 0 70%;
	  flex: 0 0 70%;
	  width: 70%;
	}

	.right-login {
	  -ms-flex: 0 0 30%;
	  flex: 0 0 30%;
	  width: 30%;
	}
}

.login-form .btn.btn-primary {
  min-width: 180px;
  margin-left: auto;
  margin-right: auto;
}

.left-login img {
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

/*.login-input {
  min-height: 545px;
}*/

.login-auth {
	justify-content: center;
}
.login-input {
	height: auto;
}

.bmd-form-group .bmd-label-floating {
	margin-left: .5rem!important
}
.bmd-form-group.is-focused .bmd-label-floating {
	margin-left: 0!important
}
.bmd-form-group .form-control {
	padding-left: .5rem;
	padding-right: .5rem;
}

.input-valid {
  background: #E9E9E8 !important;
  box-shadow: none !important;
}

.form-control:invalid {
  background-color: white !important;
  border-color: white !important;
}

.venue_button {
  background: #fff !important;
  border: 1px solid #ed1c24 !important;
  color: #ed1c24 !important;
}

.venue_button i {
  color: #221e20 !important;
}

.venue_button.active {
  background: #ffd500 !important;
  border: 1px solid #ffd500 !important;
  color: #221e20 !important;
}

.check-group .form-check {
  /*max-width: 180px;*/
}

.development-goal .form-check {
  max-width: 100% !important;
}

.d-block {
  display: block !important;
}

.more-item-target .remove-item {
  display: block !important;
}

.box-items .btn.btn-default.add-more-e {
  background: transparent;
  box-shadow: none;
  color: #ed1c24;
  border: none;
  border-radius: 0;
  padding: 0;
  width: 100%;
  text-align: right;
  font-size: 14px;
  font-family: "Open Sans", Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, -apple-system, BlinkMacSystemFont;
  font-weight: 600;
}

.btn-back {
  color: #f5a992 !important;
}

.bootstrap-datetimepicker-widget {
  min-width: 250px !important;
}

.venue_button {
  font-size: 11px !important;
}

.role-item h3 {
  min-height: 66px;
}

.owl-carousel .item {
  height: 360px;
}

.point-circle .point-numeric {
  top: 12%;
}

.table.traineeTable .btn,
.traineeWaitingApprovalTable .btn,
#itemManagement .btn, 
.dtr-data form {
  width: 100px;
  /*margin: 0.5rem auto;*/
  display: inline-block;
}


/*preview page*/

@media (min-width: 1280px) and (max-width: 1440px){
  .coachee .main-brand {
      width: 22%;
      -ms-flex: 0 0 22%;
      flex: 0 0 22%;
  }
  .for-hr.for-admin .main-brand {
    width: 0%;
    -ms-flex: 0 0 0%;
    flex: 0 0 0;
  }
}

@media (max-width: 1280px) {
  .page-admin .main-brand {
    width: 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
  }
}


@media (min-width: 1025px){
  .for-hr .main-brand {
    width: 32%;
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
  }
}

@media (min-width: 1024px){
  .for-hr.for-admin .main-brand {
    width: 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
  }
}


@media (min-width: 1280px){
  .for-hr.for-admin .main-brand {
    width: 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
  }
}


@media screen and (max-width: 1023px) {
  .main-content {
    margin-top: 60px;
  }
}


@media screen and (max-width: 767px) {
  .review-item.short {
    margin-top: 0;
  }
  .review-top .box-inline .box-items:nth-of-type(2),
  .review-top .box-inline .box-items:nth-of-type(3) {
    width: 80%;
  }
}


/*end of preview page*/


/*sidebar*/
.mid-mob a {
  padding: 5px 10px;
}


/*end of sidebar*/

.select2-results__option[aria-selected=true] {
  display: none !important;
}

body .select2-container--default .select2-selection--multiple .select2-selection__rendered {
  margin: 0 auto -6px auto;
}

body .select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #fdd501;
  color: #292929;
  font-family: "ooredoo", Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, -apple-system, BlinkMacSystemFont;
  text-transform: lowercase;
  font-weight: bolder;
}

body .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #ed1b24;
}

table.dataTable {
  overflow: auto;
  display: inline-table;
}

body .manager-box,
body .manager-box .panel-box {
  height: auto;
}

.trainee-stats .stats-item a {
  color: #ed1c24;
}

section.trainee-block.center {
  margin-top: 20px;

  height: auto!important
}

body.for-admin section.trainee-block.center h1 {
  margin: 0;
}

body input.select2-search__field.input-valid {
    height: 31px;
    margin-bottom: 5px;
}
body .setting-page .nav-pills {
    max-width: unset;
}
body.coachee .profile{
  margin-top: 0;
}
.for-hr .dashboard-breadcrumb.review h1{
  margin-top: 0;
}
@media (min-width: 768px) {
	.for-hr .dashboard-breadcrumb.review h1{
	  margin-top: 20px;
	}
}
.form-control:read-only {
  padding: 14px 16px;
  height: 28px;
}
.form-control:placeholder {
	padding: 14px 16px;
	line-height: 20px;
}
.form-group.reset.split .form-field {
  margin-bottom: 10px;
}
.panel-vertical .trainee-stats{
  margin-top: 0;
}
.trainee-stats .stats-item.full-line{
  width: calc(100% / 1);
}
.trainee-stats.lm .stats-item{
  width: calc(100% / 5);
}
#requestTable_wrapper .row:nth-of-type(1) {
  display: flex;
  align-items: center;
}
.manager-box .panel-box {
  width: calc(59% - 12px);
}
.manager-box .panel-side {
  width: calc(41% - 12px);
}
.manager-box .panel-side .panel-box{
  width: 100%;
}
.coachee .trainee-tasks {
    padding: 20px;
}
.coachee .trainee-tasks .stats-item {
    width: calc(100% / 2);
    padding: 24px;
    border-bottom: 1px solid #e9e9e9;
    cursor : default;
}
.coachee .stats-item:nth-of-type(3),
.coachee .stats-item:nth-of-type(4) {
  border-bottom: 0;
}
.coachee .stats-item:nth-of-type(2) {
  border-right: 0;
}
.coachee .stats-item:nth-of-type(4) {
  border-left: 1px solid #e9e9e9;
}
.panel-table.report{
  border-radius: 6px;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.07);
  padding: 24px 0;
  width: 100%;
}
.panel-table.report .btn.btn-secondary {
  background: #ed1c24;
  border-radius: 55px;
  border: 1px solid #ed1c24;
  margin: 3px;
}
.panel-table.report .btn.btn-secondary span{
  color: #fff;
}
.panel-table.report .btn.btn-secondary:hover,
.panel-table.report .btn.btn-secondary:focus {
  background: #ffd500;
  border: 1px solid #ffd500;
}
.panel-table.report .btn.btn-secondary:hover span,
.panel-table.report .btn.btn-secondary:focus span{
  color: #221e20;
}
.profile-cost-points.custom .profile-card{
  margin: 8px auto
}
.top-profile {
	margin: 1rem 0;
}
.top-profile .profile-stats {
	width: calc(100% / 3 - 16px);
}
/*@media (min-width: 768px) {
	.top-profile .profile-stats {
		width: calc(100% / 3 - 16px);
	}
}*/
.call-to-action {
	margin-bottom: 80px;
}
.preview-button {
  width: 50%;
  margin: 0 auto;
}

.preview-button .btn {
	/*min-width: 250px;*/
}

#reportByFormGroup {
	/*max-height: 360px;*/
}
@media (min-width: 768px){
	#reportByFormGroup {
		/*max-height: 240px;*/
	}
}

#reportByFormGroupFilter{
  width: 100%;
  display: inline-block;
  text-align: center;
}
@media (min-width: 992px) {
	#reportByFormGroupFilter{
	  width: 70px;
	  margin-right: 15px;
	  text-align: left;
	}
}

.table-competency .table thead th{
  padding: 8px 10px;
}

.export-table{
  /*float: right;*/
  display: flex;
  justify-content: center;
}

#userReport .export-table{
  padding: 10px 20px;
}

.select-filter{
  width: 120px;
  margin-right: 15px;
  display: inline-block;
}

@media(min-width: 768px){
	.export-table{
	  justify-content: start;
	}

}
@media(min-width: 992px){
	.export-mytrainee{
	  position: absolute;
	  right: 350px;
	  /*margin-top: 4px;*/
	  z-index:1;
	}
}

.hidden{
  display: none;
}

/* on */
.coachee .role-box {
  width: auto;
}

.coachee .role-box .role-people {
  background: transparent;
}

.top-user .dropdown.notif.active button i {
  font-size: 18px;
  color: #000;
}

.top-user .dropdown.notif.active:before {
  z-index: 1;
}

.trainee-tasks .stats-item .circle-badge {
  line-height: 75px;
}

.table thead th,
.table.table-lite thead th {
  line-height: 1.3;
}

.is-hidden,
.right-notif.is-hidden {
  display: none;
}

.review-notif.custom {
  display: block;
  vertical-align: middle;
  margin-right: 0;
  font-weight: 300;
  background: #fff;
  padding: 12px 24px;
  margin: 24px 0 35px;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.07);
  border-radius: 6px;
}

.nav.custom-tabs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.nav.custom-tabs .nav-item.inline {
  width: calc(100% / 5 - 8px);
  margin: 0;
  line-height: normal;
}

.nav.custom-tabs .nav-item.inline:nth-last-of-type(1) {
  background: rgba(0,0,0, .025);
  border-radius: 4px;
  border: 1px solid #ed1c24;
  color: #ed1c24;
}

.nav.custom-tabs .nav-item.inline:nth-last-of-type(1) i,
.nav.custom-tabs .nav-item.inline:nth-last-of-type(1) a {
  color: #ed1c24;
}

#myApproval .right-notif,
#myHistory .right-notif,
#rejected .right-notif {
  display: none;
}
.panel-box .panel-title {
	border-bottom: none transparent;
	padding-bottom: 0;
}
.panel-box .panel-title h3 {
  padding: 12px 0 10px 0;
}

.nav.custom-tabs  .nav-link {
  display: block;
  height: 100%;
}

.coachee .main-nav a.active {
  color: #ffd500;
  background: rgba(0, 0, 0, 0.015);
}

.coachee .main-nav a.active:before {
  background: #ffd500;
}


@media (min-width: 992px) {
	.review-item .center-form {
	  max-width: 55%;
	}
}

.review-item .center-form .form-group.split label,
.review-item .center-form .form-group.split .control-label {
  text-align: left;
}


.review-top .box-inline .box-items {
  width: calc(100% / 2);
  -ms-flex-item-align: start;
  align-self: center;
  align-self: stretch;
  align-content: stretch;
}

@media (min-width: 768px) and (max-width: 991px) {
	.review-top {
		top: 180px;
	}
}

@media (max-width: 1439px) {
  .profile-cost-points.custom {
    margin: 250px auto 0;
  }
}

.for-hr .stats-text {
	text-align: left;
}
.for-admin .stats-text {
	text-align: center;
}

.for-hr.for-admin .review-top .box-inline .box-items,
.for-hr .review-top .box-inline .box-items,
.for-admin .review-top .box-inline .box-items{
  /*width: calc(100% / 3);*/
}

.for-admin .trainer-data ul > li p,
.for-hr .trainer-data ul > li p {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 4px;
  max-width: 85%;
}

.for-admin .trainer-data ul > li i,
.for-hr .trainer-data ul > li i {
  float: left;
}

.main-dashboard ul.nav.nav-pills li {
  margin-left: 0!important;
  padding: 0;
  flex-grow: 1
}
.main-dashboard .default-tab-list li{
  min-width : auto !important;
}
.top-user .dropdown-menu.show a {
  font-size: 14px;
}
.form-group.reset.chart-year-filter-container {
  position: relative;
}
.form-group.reset.chart-year-filter-container:before {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #919191;
    content: "";
    position: absolute;
    left: 50px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 40%;
}
.form-group.reset.chart-year-filter-container select {
  padding-right: 25px;
}
.wrap-trainee-request-button{
  margin-top: 60px;
  font-size: 18px;
}
.trainee-request-button{
  color:#ed1c23;
  cursor: pointer;
  font-size: 18px;
}
#form-training-request{
  padding: 0 20px;
}
#form-training-request input[type="submit"]{
  margin-top: 15px;
}
#form-training-request label{
  font-weight: normal;
}
.setting-page .nav-pills.small{
  max-width : unset;
}
.modal-body.request-message,
.modal-body.blocking-message {
  margin: 20px;
  text-align: center;
  min-height: 80px;
  display: block;
}
.trainee-box{
  margin-top: 40px;
  margin-bottom: 90px;

  justify-content: center;
}
.trainee-box .item-card {
  width: calc(100% / 2 - 16px);
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 16px!important
}
@media (min-width: 768px) {
	.trainee-box .item-card {
	  width: calc(100% / 4 - 16px);
	}
}

.main-brand img{
  height: 60px;
}

.user-side .recent-act{
  overflow-x: scroll;
  height: 350px;
}

#voucher-code-table_filter label{
  width : 100%;
  padding-right : 0;
  text-align : right;
}

.point-box{
  min-height: 100px;
  margin-bottom: 30px;
}

@media (max-width: 767px){
  .trainee-block.center {
      overflow: scroll;
  }
  .trainee-tasks .stats-item .circle-badge {
    line-height: 55px;
  }
}

.validation-msg {
  color: #ed1c24;
  font-size: 80%;
  margin-top: 0.25rem;
  width: 100%;
}

.form-control:not(:read-only){
  background-color: #fff !important;
  border : 1px solid #e9e9e9 !important;
}

.table.table-responsive{
  margin: 0 auto;
  width: 100%;
  clear: both;
  /*table-layout: fixed;*/  /* 31/08/20 safari table width fix */

}
form label.form-check-label {
    font-size: 14px;
    font-weight: 600;
    margin: 10px 5px 0 0;
}

/*
 * Dashboard navigation fix
 */
.top-header .main-nav a {
	padding: 0 1rem;
	max-width: 100px;
	height: 60px;
	line-height: 1.25;
	text-align: center;
	display: table-cell;
}
.btn.btn-mob.btn-side.mobile {
	line-height: 60px
}

/*
 * Responsive Datatable fix 
 */
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
	left: 6px;

	background-color: #99cc00;
  box-shadow: 0 0 3px #99cc00;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent[role="row"] > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent[role="row"] > th:first-child:before {
	background-color: #ed1c24;
  box-shadow: 0 0 3px #ed1c24;
}
table.dataTable > tbody > tr.child span.dtr-title {
	font-weight: bold;
	min-width: auto;
	margin-right: .5rem;
}

.for-hr .stats-list {
	padding: 0
}
.top-hr .hr-box {
	padding: 0
}
.top-hr .hr-box .panel-title {
	padding: 16px;
}

/*
 * Bottom steps
 */
.bottom-step .step-item.counter {
	display: none;
}
@media (max-width: 767px){
	.dashboard-steps .steps-count {
		margin: 8px 16px;
		text-align: left;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.bottom-step .step-item {
		display: none;
	}
	.bottom-step .step-item.counter,
	.bottom-step .step-item.active {
		display: inline-block;
	}
}

/*
 * Setting
 */
.setting-page li.nav-item {
	width: auto;
	flex: 1
}

/*
 * Redeem
 */
.dashboard-breadcrumb a, 
.dashboard-breadcrumb a i {
	color: #fff;
}
.mid-point {
	padding-right: 0;
	padding-left: 0;
}
.filter-opt, .show-opt {
	justify-content: space-around;
}

.redeem-action .btn {
	white-space: normal
}

@media (max-width: 599px){
  .box.list .redeem-text,
  .box.list .redeem-action {
    width: 50%;
  }
}
.box.list .redeem-thumbnail img {
	min-height: 150px
}