/*------------------------------------*\
  Responsive
\*------------------------------------*/

@media (min-width: 1441px) {
  .login-screen .login-auth {
    width: 500px;
  }
}

@media (max-width: 1440px) {
  .main-brand {
    width: 46%;
    -ms-flex: 0 0 46%;
    flex: 0 0 46%;
  }
  .login-screen .login-auth {
    width: 500px;
  }
  .coachee .main-brand {
    width: 28%;
    -ms-flex: 0 0 28%;
    flex: 0 0 28%;
  }
  .for-hr .main-brand {
    width: 32%;
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
  }
}

@media (max-width: 1368px) {
  .main-brand {
    width: 43%;
    -ms-flex: 0 0 43%;
    flex: 0 0 43%;
  }
  .role-box {
    width: 55%;
  }
  .role-box .role-people {
    padding: 0;
  }
  .coachee .trainee-stats .stats-item .badge.badge-danger {
    margin-right: 8px;
  }
  .coachee .trainee-stats .stats-item {
    padding: 16px;
  }
  .coachee .trainee-stats {
    margin: 24px 0 0;
  }
  .coachee .low-level-progress {
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 18px 16px;
  }
  .coachee .low-level-progress i {
    line-height: normal;
  }
  .coachee .low-level-progress .progress-name {
    width: 60%;
  }
  .coachee .panel-vertical .low-level-progress:nth-last-of-type(1) {
    display: none;
  }
  .for-hr .main-brand {
    width: 45%;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
  }
}

@media (max-width: 1280px) {
  .main-brand {
    width: 39%;
    -ms-flex: 0 0 39%;
    flex: 0 0 39%;
  }
  .role-box .role-people {
    padding: 24px;
  }
  .role-box .role-title p {
    max-width: 100%;
  }
  .coachee .main-brand {
    width: 24%;
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
  }
  .coachee .trainee-stats .stats-text {
    font-size: 12px;
  }
  .coachee .low-level-progress {
    padding: 16px 16px;
  }
  .for-hr.for-admin .main-brand {
    width: 32%;
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
  }
}

@media (max-width: 1024px) {
  .main-brand {
    width: 23%;
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
  }
  .main-brand span {
    display: none;
  }
  .main-dashboard .right-side {
    width: 25%;
  }
  .main-dashboard .dashboard-content {
    width: 75%;
  }
  .chart-item .chart-circle {
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  .chart-item .chart-text {
    width: 100%;
  }
  .dash-panel.has-two {
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .role-box {
    width: 70%;
  }
  .trainee-pick .item {
    height: 390px;
  }
  .trainee-box .item-card .item-card-description .small-title {
    margin-top: 0;
  }
  .trainee-box {
    margin-top: 55px;
  }
  .review-item .center-form {
    max-width: 90%;
  }
  .bottom-button {
    max-width: 96%;
    padding-bottom: 24px;
  }
  .top-achieve .panel-title h3 {
    width: 40%;
  }
  .redeem-action .btn.btn-default {
    padding: 8px 14px;
  }
  .box.list .redeem-action {
    width: 35%;
  }
  .box.list .redeem-text {
    width: 50%;
  }
  .coachee .main-brand {
    width: 35%;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
  }
  .coachee .manager-box .panel-box {
    margin-bottom: 16px;
  }
  .coachee .manager-box .panel-side,
  .coachee .manager-box .panel-box {
    width: 100%;
  }
  .coachee .low-level-progress {
    padding: 24px;
  }
  .coachee .low-level-progress .progress-name {
    width: 78%;
  }
  .coachee .trainee-stats .stats-numeric {
    display: block;
    margin: 0 auto 8px;
  }
  .coachee .trainee-stats .stats-text {
    text-align: center;
    display: block;
    width: 100%;
  }
  .coachee .panel-table .mdi.mdi-calendar {
    display: none;
  }
  .coachee #traineeTable .table-option button i {
    line-height: normal;
    font-size: 8px;
  }
  .coachee .btn.btn-default.btn-sm.btn-lite.m0 {
    line-height: normal;
  }
  .coachee .btn.btn-default.btn-sm.btn-lite.m0 i {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
  }
  .for-hr .main-brand {
    width: 27%;
    -ms-flex: 0 0 27%;
    flex: 0 0 27%;
  }
  .for-hr .top-stats .stats-info {
    text-align: center;
  }
  .for-hr .top-stats .stats-info i {
    font-size: 45px;
    margin-right: 0;
    display: block;
    width: 100%;
    text-align: center;
  }
  .for-hr .stats-text {
    display: block;
    width: 100%;
    text-align: center;
  }
  .for-hr #requestTable_info {
    display: none;
  }
  .for-hr .stats-list .stats-item {
    width: 100%;
    margin-bottom: 16px;
  }
  .for-hr .main-nav a {
    padding: 0 22px;
  }
  .for-hr .table .table-button .btn.btn-default {
    padding: 4px 8px;
    margin-bottom: 8px;
  }
  .for-hr .info-course .numeric {
    font-size: 24px;
  }
  .setting-page .side-elements {
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.07);
    padding: 0;
  }
  .setting-page .side-elements .side-right,
  .setting-page .side-elements .side-left {
    width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    box-shadow: none;
  }
  .setting-page .side-elements .side-right {
    border-top: 1px solid #e9e9e9;
  }
  .setting-page .nav-pills {
    max-width: 56%;
  }
  .setting-page .nav-pills.small {
    max-width: 26%;
  }
  .for-hr .item-four .item-block .numeric {
    font-size: 18px;
  }
  .for-hr .table .icon-calendar {
    display: none;
  }
}

@media (max-width: 1023px) {
  .setting-page .nav-pills.small {
    max-width: 100%;
  }
  .role-box {
    width: 90%;
  }
  .mobile {
    display: -ms-flexbox;
    display: flex;
  }
  .top-header .main-nav,
  .top-header .top-user {
    display: none;
  }
  .bottom-nav {
    display: block;
  }
  .main-dashboard .dashboard-content {
    width: 100%;
  }
  .main-brand {
    width: auto;
    -ms-flex: 0 0 14%;
    flex: 0 0 14%;
  }
  .main-brand img {
    margin-right: 0;
    padding: 8px;
  }
  .dashboard-entry {
    padding: 0;
  }
  .main-dashboard .right-side {
    width: 36%;
    right: initial;
    left: 0;
    z-index: 1;
  }
  .btn.btn-float.on {
    display: none;
  }
  .main-dashboard .right-side {
    display: none;
    transform: translateX(100%);
  }
  .main-dashboard.clean .right-side {
    display: block;
    transform: translateX(0);
    width: 33%;
    z-index: 3;
    padding-top: 0;
    background: #1a1a1a;
    color: #f9f9f9;
  }
  .main-site.overlay {
    position: relative;
    overflow: hidden;
  }
  .main-site.overlay:after {
    content: '';
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
  }
  .user-side {
    display: none;
  }
  .trainee-box .item-card {
    width: calc(100% / 2 - 16px);
    margin-bottom: 32px;
  }
  #traineeTable tbody td {
    padding: 12px 8px;
  }
  #traineeTable .mdi.mdi-calendar {
    display: none;
  }
  #traineeTable .table-option button {
    margin-bottom: 16px;
  }
  #traineeTable .table-option button:nth-last-of-type(1) {
    margin-bottom: 0;
  }
  .bottom-step {
    padding: 16px;
  }
  .bottom-step .btn.btn-default {
    min-width: auto;
  }
  .exit-button .btn.btn-default {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
  }
  .dashboard-steps .bottom-step .btn.btn-default {
    padding: 8px 16px;
  }
  .dashboard-steps .split-field.medium {
    max-width: 100%;
  }
  .dashboard-steps .split-field.medium .field-left {
    width: 40%;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding: 0 16px;
  }
  .dashboard-steps .split-field.medium .field-right {
    width: 60%;
  }
  .bottom-step .steps-count .step-item {
    padding: 0 8px;
  }
  .bottom-step .steps-count .step-item .circle-number {
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-right: 4px;
  }
  .main-header.for-steps .step-info {
    left: 0;
  }
  .exit-button .btn.btn-default:hover,
  .exit-button .btn.btn-default:focus {
    background: transparent;
    border-radius: 0;
    color: #ed1c24;
    border: none;
  }
  .btn.btn-default.btn-icon {
    width: auto;
  }
  .top-point .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .top-point .dashboard-title .point-guide {
    padding: 0 16px;
  }
  .point-item .numeric {
    font-size: 24px;
  }
  .mobile-side {
    display: block;
  }
  .container.custom-mob {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .sub-options {
    width: auto;
    min-width: 55%;
  }
  .box.grid .redeem-action .point-numbers {
    min-width: 100%;
    margin-bottom: 16px;
  }
  .box.list .redeem-action {
    width: 40%;
  }
  .box.list .redeem-text {
    width: 45%;
  }
  .mid-point {
    margin-bottom: 32px;
    padding: 0 16px;
  }
  .main-dashboard {
    padding-top: 50px;
  }
  .for-hr .panel-box.medium {
    width: 100%;
    max-width: 100%;
  }
  .for-hr .panel-box.mt-24.medium {
    margin-top: 24px;
  }
  .dashboard-title.custom .bmd-form-group .form-control {
    margin-bottom: 24px;
  }
  .center-box .dashboard-title.custom {
    padding: 0;
  }
  .notification-holder .holder-dept {
    padding: 16px;
  }
  .notification-detail .dashboard-title.custom {
    padding: 0 16px;
  }
  .coachee .manager-box .panel-box,
  .coachee .manager-box {
    height: auto;
  }
  .coachee .dashboard-title {
    padding: 0 16px;
  }
  .coachee .main-brand {
    width: auto;
    -ms-flex: inherit;
    flex: inherit;
    left: 0;
  }
  .coachee div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    -ms-flex-pack: center;
    justify-content: center;
  }
  .coachee .panel-box,
  .coachee .panel {
    border-radius: 0;
  }
  .coachee .mid-nav a .numeric,
  .coachee .mid-nav a em {
    color: #221e20;
  }
  .review-top .box-inline,
  .profile-cost-points {
    max-width: 100%;
  }
  .profile-card .info-course .numeric {
    font-size: 28px;
  }
  .for-hr .main-brand {
    width: auto;
    -ms-flex: inherit;
    flex: inherit;
    left: 0;
  }
/*  .for-hr .dashboard-entry .panel-box.mt-24 {
    margin-top: 0;
  }*/
  .for-hr .table img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .for-hr #itemTable .table-button .btn.btn-default {
    margin-bottom: 8px;
  }
  .for-hr #itemTable_wrapper .row {
    margin-left: 0;
    margin-right: 0;
  }
  .for-hr .panel-box {
    border-radius: 0;
  }
  .for-hr .dashboard-title.first {
    padding: 0 16px;
  }
  .setting-box {
    max-width: 100%;
  }
  .setting-box .setting-item {
    padding: 16px;
  }
  .setting-box .setting-item span {
    font-size: 16px;
  }
  .for-hr .table-option .button-group .btn.btn-default:nth-of-type(1) {
    margin-right: 8px;
  }
  .for-hr .table-option .button-group .btn.btn-default {
    min-width: inherit;
    padding: 8px 16px;
  }
  .setting-page {
    margin: 0;
  }
  .setting-page .nav-pills {
    max-width: 100%;
  }
  .for-hr .item-box .form-group {
    margin: 0 auto 16px;
    padding: 0 16px 0;
  }
  .for-hr .setting-page .nav-pills {
    margin-top: 16px;
  }
  .for-hr .main-inner {
    padding-top: 48px;
  }
  .for-hr .report-inner .numeric-box {
    text-align: center;
  }
  .for-hr .report-inner .numeric {
    display: block;
    margin: 0 auto 16px;
  }
  .setting-page #bannerTable_wrapper .row,
  .setting-page #pointsTable_wrapper .row,
  .setting-page #employeeTable .row,
  .setting-page #employeeTable_wrapper .row,
  .setting-page #roleTable .row,
  .setting-page #roleTable_wrapper .row,
  .setting-page #reportTable_wrapper .row,
  .setting-page #purchaseTable_wrapper .row {
    margin-left: 0;
    margin-right: 0;
  }
  .setting-page #bannerTable_wrapper .row .col-sm-12.col-md-6,
  .setting-page #bannerTable_wrapper .row .col-sm-12,
  .setting-page #pointsTable_wrapper .row .col-sm-12.col-md-6,
  .setting-page #pointsTable_wrapper .row .col-sm-12,
  .setting-page #employeeTable .row .col-sm-12.col-md-6,
  .setting-page #employeeTable .row .col-sm-12,
  .setting-page #employeeTable_wrapper .row .col-sm-12.col-md-6,
  .setting-page #employeeTable_wrapper .row .col-sm-12,
  .setting-page #roleTable .row .col-sm-12.col-md-6,
  .setting-page #roleTable .row .col-sm-12,
  .setting-page #roleTable_wrapper .row .col-sm-12.col-md-6,
  .setting-page #roleTable_wrapper .row .col-sm-12,
  .setting-page #reportTable_wrapper .row .col-sm-12.col-md-6,
  .setting-page #reportTable_wrapper .row .col-sm-12,
  .setting-page #purchaseTable_wrapper .row .col-sm-12.col-md-6,
  .setting-page #purchaseTable_wrapper .row .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
  }
  .for-hr .box-import {
    padding: 16px;
  }
  .for-hr .box-import .input-group {
    max-width: 100%;
  }
  .for-hr .profile-box {
    margin-top: 0;
  }
  .for-hr .profile-box .left-profile {
    background: #fff;
  }
  .for-hr .right-profile .profile-content {
    margin-bottom: 36px;
  }
  .auth-page {
    background: #fff;
  }
}

@media (max-width: 800px) {
  .for-hr #itemTable_wrapper .row {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .mid-mob {
    height: 68%;
  }
  .table-option .button-group .btn.btn-default:nth-of-type(1) {
    margin-right: 8px;
  }
  .for-hr #itemTable_wrapper {
    margin-bottom: 35px;
  }
  .for-hr .bottom-course {
    margin-bottom: 65px;
  }
  .for-hr .bottom-course .bottom-item {
    width: 100%;
    margin-bottom: 16px;
  }
  .for-hr #courseEmployee_wrapper .row {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .bottom-menu {
    width: 100%;
  }
  .role-box .role-people {
    padding: 0;
    background: transparent;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .role-box .role-people .role-item {
    width: 85%;
    margin-bottom: 24px;
  }
  .role-page {
    height: auto;
  }
  h1 {
    font-size: 24px;
  }
  .role-item h3 {
    font-size: 18px;
    margin-bottom: 4px;
  }
  .role-box .role-title {
    margin: 55px auto 24px;
  }
  .role-icon {
    width: 65px;
    height: 65px;
  }
  .role-icon i {
    line-height: 65px;
    font-size: 36px;
  }
  .main-brand {
    width: auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0 auto;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
  }
  .main-dashboard {
    padding-top: 48px;
  }
  .dashboard-title h1,
  .dashboard-title h2,
  .dashboard-title h3 {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 0;
  }
  .dashboard-title h1,
  .dashboard-title {
    display: block;
  }
  .trainee-pick .item {
    height: 100%;
  }
  .item-description h3 {
    font-size: 24px;
    margin: 0 0 16px;
  }
  .item-description {
    padding: 24px 0;
  }
  .item img {
    height: auto;
  }
  .page-title h3 {
    font-size: 18px;
  }
  .trainee-pick {
    margin: 24px auto 16px;
  }
  .page-title:after {
    width: 5%;
  }
  .page-title h3 {
    margin: 0 0 16px;
  }
  .trainee-tasks .stats-item .circle-badge {
    width: 55px;
    height: 55px;
    font-size: 24px;
    line-height: 55px;
    display: block;
    margin: 0 auto 16px;
  }
  .trainee-tasks .stats-item {
    text-align: center;
  }
  .stats-description h4 {
    font-size: 16px;
  }
  .stats-description p {
    margin-bottom: 0;
  }
  .trainee-tasks .stats-item .btn.btn-default {
    display: block;
    position: initial;
    opacity: 1;
    padding: 8px 16px;
    width: 100%;
  }
  .stats-description p {
    display: none;
  }
  .dash-panel.has-two .panel {
    width: 100%;
    margin-bottom: 16px;
  }
  .main-dashboard.clean .right-side {
    width: 88%;
  }
  .mid-mob {
    height: auto;
  }
  .trainee-block.center {
    height: 100%;
  }
  .review-item .center-form {
    max-width: 100%;
  }
  .form-group.split label,
  .form-group.split .control-label {
    width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding-right: 0;
    text-align: left;
  }
  .form-group.split .form-field {
    width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .flex-list .flex-item:nth-of-type(2) {
    border-left: none;
  }
  .circle-point.big,
  .circle-point {
    width: 75px;
    height: 75px;
    padding: 4px;
  }
  .circle-point img {
    width: 67px;
    height: 67px;
  }
  .circle-point i {
    font-size: 32px;
    line-height: 67px;
  }
  .flex-list .flex-item:nth-of-type(1),
  .achievement-list {
    padding: 16px;
  }
  .achievement-list {
    margin: 16px;
  }
  .bottom-step .steps-count .step-item {
    padding: 0;
  }
  .dashboard-steps .bottom-step {
    padding: 8px;
  }
  .dashboard-steps .split-field.medium .field-left,
  .dashboard-steps .split-field.medium .field-right {
    width: 100%;
  }
  .dashboard-steps .split-field.medium .field-left {
    padding: 0 120px;
    -ms-flex-order: 1;
    order: 1;
  }
  .dashboard-steps .split-field.medium .field-right {
    -ms-flex-order: 2;
    order: 2;
  }
  .dashboard-steps .form-title {
    margin-bottom: 24px;
  }
  .dashboard-steps {
    min-height: 100%;
    height: 100%;
    padding-bottom: 90px;
  }
  .dashboard-steps .steps-count {
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    text-align: center;
    margin: 8px auto;
  }
  .dashboard-steps button {
    -ms-flex-order: 2;
    order: 2;
    width: 49%;
  }
  .dashboard-steps .field-date .btn.btn-default.btn-icon {
    width: auto;
    display: none;
  }
  .dashboard-steps .bottom-step .btn.btn-default:nth-of-type(1) {
    background: transparent;
    border: none;
    border-radius: 0;
    text-align: left;
  }
  .main-header.for-steps .step-info {
    font-size: 14px;
  }
  .dashboard-steps .center-form {
    max-width: 100%;
    padding: 0;
  }
  .steps-count .step-item.done .circle-number i {
    font-size: 24px;
  }
  .bottom-step .steps-count .step-item .circle-number,
  .steps-count .step-item.done .circle-number i {
    line-height: 22px;
  }
  .top-profile .profile-stats {
    padding: 16px;
    width: calc(100% / 2 - 8px);
    border-radius: 8px;
    margin-bottom: 16px;
    margin-top: 0;
  }
  .profile-box {
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }
  .profile-box .left-profile,
  .profile-box .right-profile {
    width: 100%;
  }
  .container.custom-mob {
    padding-left: 0;
    padding-right: 0;
  }
  .top-profile {
    margin: 16px;
  }
  .profile-stats .circle-badge {
    width: 55px;
    height: 55px;
  }
  .top-profile .profile-stats i {
    font-size: 24px;
    line-height: 55px;
  }
  .top-profile .profile-stats .numeric {
    font-size: 18px;
  }
  .top-profile .profile-stats h3 {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .left-profile h5 {
    text-align: center;
  }
  .profile-entry .form-group.split {
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }
  .profile-entry .form-group.split label,
  .profile-entry .form-group.split .control-label,
  .profile-entry .form-group.split .form-field {
    width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .profile-entry .btn.btn-default {
    margin: 24px 16px 24px 0;
  }
  .profile-entry .form-group .form-control {
    min-width: 100%;
    width: 100%;
  }
  .profile-entry label,
  .profile-entry .control-label {
    padding-right: 0;
  }
  .top-point {
    padding: 16px;
    margin-bottom: 0;
  }
  .top-point .dashboard-title h1 {
    margin-top: 0;
  }
  .top-point .dashboard-title .point-guide {
    width: 100%;
    padding: 16px 0;
  }
  .mid-point {
    padding: 0;
  }
  .mid-point .point-count {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
  .mid-point .point-count i,
  .mid-point .point-count h3,
  .mid-point .point-count p {
    display: inline-block;
    vertical-align: middle;
  }
  .mid-point .point-count h3 {
    margin: 0;
  }
  .mid-point .point-count p {
    margin-left: 8px;
  }
  .point-count i,
  .point-list .point-item i {
    font-size: 48px;
  }
  .point-earn h3 {
    margin-bottom: 0;
    border-bottom: 1px solid #e9e9e9;
    padding: 8px 0;
  }
  .mid-point .point-earn {
    width: 100%;
    box-shadow: none;
    border-top: 1px solid #e9e9e9;
    padding: 0;
  }
  .point-list .point-item {
    padding: 16px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .sub-options {
    min-width: 70%;
  }
  .box.grid .redeem-thumbnail img {
    height: 100px;
  }
  .box .redeem-action .point-numbers i {
    display: none;
  }
  .bottom-point {
    border-radius: 0;
    margin-bottom: 35px;
  }
  .box.list .redeem-thumbnail img {
    height: 100%;
  }
  .box.list .redeem-action .point-numbers {
    min-width: inherit;
  }
  .box.list .redeem-text,
  .box.list .redeem-action {
    padding: 8px;
    width: 41%;
  }
  .box.list .btn.btn-default {
    float: right;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }
  .box.list .redeem-action {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .redeem-page {
    margin-bottom: 36px;
  }
  .redeem-page .sub-title {
    padding: 0 16px;
  }
  .redeem-page .sub-title h3 {
    font-size: 24px;
  }
  .redeem-entry .bottom-redeem h3 {
    margin-bottom: 16px;
    font-size: 18px;
  }
  .notification-content .notification-entry {
    width: 65%;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
  }
  .notification-content .notification-holder {
    width: 35%;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
  }
  .top-mob-nav h3 {
    font-size: 16px;
  }
  .top-mob-nav .btn.btn-default {
    line-height: 24px;
  }
  .top-mob-nav {
    padding: 12px 16px;
    border-bottom: 1px solid #e9e9e9;
  }
  .mid-nav a .numeric {
    font-size: 24px;
    margin: 0 auto 4px;
    font-weight: 500;
  }
  .mid-nav a em {
    font-size: 12px;
  }
  .mid-nav a {
    background: #ed1c24;
    color: #fff;
  }
  .mid-nav a .numeric,
  .mid-nav a em {
    color: #fff;
  }
  .coachee .trainee-stats .stats-item a {
    font-size: 16px;
  }
  .review-top .box-inline .box-items:nth-of-type(1) {
    width: 100%;
  }
  .review-top .box-inline .box-items:nth-of-type(2),
  .review-top .box-inline .box-items:nth-of-type(3) {
    width: 50%;
  }
  .review-top {
    position: initial;
    margin-top: 24px;
  }
  .profile-cost-points.custom {
    margin: 16px auto;
  }
  .profile-card .info-course .numeric {
    font-size: 16px;
  }
  .dashboard-breadcrumb.review {
    height: 110px;
  }
  .for-hr .top-stats,
  .for-hr .top-hr,
  .for-hr .top-dashboard {
    padding: 0;
  }
  .top-hr .top-progress {
    width: 100%;
  }
  .top-hr .chart-box {
    width: 100%;
    margin-top: 16px;
  }
  .for-hr .stats-list .stats-item {
    width: calc(100% / 2 - 8px);
    margin-bottom: 55px;
  }
  .setting-box {
    max-width: 100%;
  }
  .for-hr .table-search.has-advance .custom-search,
  .for-hr .table-search.has-advance .button-group {
    width: calc(100% / 2 - 8px);
  }
  .for-hr .table-option .button-group .btn.btn-default {
    min-width: inherit;
    padding: 8px 10px;
  }
  .for-hr .panel-title {
    position: relative;
  }
  .for-hr .panel-title .dropdown.nav-item.clean {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 16px;
  }
  .for-hr .panel-title .dropdown.clean .dropdown-toggle.nav-link {
    width: 24px;
    height: 24px;
  }
  .for-hr .panel-title .dropdown.clean .dropdown-toggle.nav-link i {
    line-height: normal;
    font-size: 16px;
  }
  .for-hr .table-option.custom .table-search.has-advance .custom-search,
  .for-hr .table-option.custom .table-search.has-advance .button-group {
    width: 100%;
  }
  .for-hr .table-button {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .for-hr .table-button .btn.btn-default {
    margin-top: 8px;
  }
  .for-hr .table-button .btn.btn-default:nth-of-type(1) {
    margin-right: 8px;
  }
  .for-hr .bottom-course {
    margin-bottom: 16px;
    margin-top: 16px;
  }
  .for-hr .main-inner {
    padding-top: 48px;
  }
  .for-hr .setting-page .table-option.custom .table-search.has-advance .button-group {
    margin-top: 16px;
  }
  .for-hr .table-option.custom {
    margin-bottom: 0;
  }
  .for-hr .table .icon-calendar {
    display: none;
  }
  .for-hr #pointsTable .table-button button {
    margin: 0;
  }
  .sub-menu.has-option {
    padding: 0 16px;
    height: auto;
  }
  .sub-menu.has-option h1 {
    line-height: 48px;
  }
  .for-hr .media-placeholder .btn.btn-clean,
  .for-hr .media-placeholder button {
    width: 77%;
    height: 28px;
  }
  .for-hr .dual-box .media-placeholder {
    padding: 0 16px;
  }
  .for-hr .report-inner .numeric-box h4 {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 8px;
  }
  .for-hr #userReport .dual-side .dual-item {
    width: 100%;
  }
  .for-hr .review-top .box-inline .item-text {
    min-height: 66px;
  }
  .for-hr .chart-box.in-report {
    margin: 24px 0;
  }
  .for-hr .sub-menu.has-option h1 {
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  .main-dashboard.clean .right-side {
    width: 60%;
  }
  .dashboard-title h1,
  .dashboard-title h2,
  .dashboard-title h3 {
    margin-top: 16px;
  }
  .review-notif {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .main-header.for-steps .main-brand {
    margin: 0;
  }
  .main-header.for-steps .step-info {
    left: 0;
    font-size: 16px;
  }
  .exit-button .btn.btn-default {
    box-shadow: none;
    background: transparent;
    border: none;
    color: #d9d9d9;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 599px) {
  .panel-box .panel-title h3 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 8px;
  }
  .review-notif i {
    font-size: 14px;
  }
  .review-notif {
    font-size: 12px;
  }
  .panel-title .btn.btn-default {
    padding: 10px 24px;
  }
  .table-search.has-advance .custom-search,
  .table-search.has-advance .button-group {
    width: 100%;
  }
  .table-search.has-advance .custom-search {
    margin-bottom: 16px;
  }
  .advance-search .form-group {
    width: 100%;
    margin-bottom: 16px;
  }
  .table-option.custom {
    margin-bottom: 0;
  }
  .panel-box.mt-24 {
    margin-bottom: 54px;
  }
  .table .mdi.mdi-calendar {
    display: none;
  }
  table.dataTable>tbody>tr.child ul.dtr-details {
    width: 100%;
  }
  table.dataTable>tbody>tr.child span.dtr-title {
    font-weight: 500;
  }
  .mob-profile {
    width: 74px;
    height: 74px;
    padding: 4px;
  }
  .mob-profile img {
    width: 66px;
    height: 66px;
  }
  .main-dashboard h3 {
    font-size: 16px;
  }
  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    -ms-flex-pack: center;
    justify-content: center;
  }
  .dashboard-content .container,
  .dashboard-content .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .panel-table .row {
    margin-left: 0;
    margin-right: 0;
  }
  .panel-table .col-sm-12,
  .panel-table .col-md-6 {
    padding-left: 0;
    padding-right: 0;
  }
  .dashboard-title,
  .page-title {
    padding: 0 16px;
  }
  .page-title:after {
    left: 16px;
  }
  .trainee-tasks,
  .panel,
  .dash-panel .panel,
  .panel-box {
    border-radius: 0;
  }
  .table-option {
    margin-top: 16px;
  }
  .trainee-box .item-card {
    width: calc(100% / 2 - 8px);
    margin-bottom: 16px;
  }
  .item-card-description h3 {
    font-size: 16px;
  }
  .trainee-box .item-card .item-card-top i {
    font-size: 65px;
  }
  .trainee-title {
    margin-top: 80px;
  }
  .trainee-title h1 {
    font-size: 20px;
  }
  .trainee-title h4 {
    font-size: 14px;
  }
  .sub-left {
    font-size: 12px;
  }
  .big-title,
  h3.big-title,
  .panel-box .panel-title h3.big-title {
    font-size: 18px;
    margin-bottom: 0;
  }
  .panel-title.mb-36 {
    margin-bottom: 16px;
  }
  .item-box .form-group {
    margin: 0 auto 16px;
    padding: 0 16px 16px;
  }
  .form-group.split label,
  .form-group.split .control-label {
    width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding-right: 0;
    text-align: left;
  }
  .form-group.split .form-field {
    width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .panel-box.mt-24 {
    margin-top: 0;
  }
  .item-box .button-group {
    text-align: center;
    padding: 16px;
  }
  .side-box .side-box-description,
  .side-box .side-box-entry {
    width: 100%;
  }
  .side-box .side-box-entry {
    padding: 0;
    border-left: none;
    border-top: 1px solid #e9e9e9;
  }
  .entry-icon {
    padding: 16px 0 0 0;
  }
  .entry-icon .entry-icon-text {
    width: 75%;
  }
  .center-form {
    padding: 0 16px;
  }
  .bottom-button {
    max-width: 100%;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .bottom-button .btn.btn-default {
    margin: 0 16px 0 0;
    padding: 8px 20px;
  }
  .achievement {
    margin: 16px 0 0;
  }
  .achievement .nav.nav-pills {
    margin-bottom: 16px;
    padding: 0 16px;
  }
  .achievement .nav.nav-pills li {
    margin: 0 10%;
  }
  .trainee-achieve.panel-box {
    margin: 16px;
    border-radius: 8px;
  }
  .top-achieve .panel-title ul li {
    text-align: left;
  }
  .mid-achieve .flex-list .flex-item:nth-of-type(1),
  .mid-achieve .flex-list .flex-item {
    width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .mid-achieve .side-achive {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
  }
  .achievement-list .list-status i {
    font-size: 24px;
    margin: 0 auto 8px;
  }
  #traineeTable .table-option button {
    margin-bottom: 0;
  }
  .panel-table {
    margin-bottom: 35px;
  }
  .box.grid .card {
    width: calc(100% / 2 - 8px);
  }
  .bottom-point .sub-title h3 {
    display: block;
    margin-bottom: 8px;
  }
  .sub-options {
    min-width: 100%;
  }
  .box.list .btn.btn-default {
    float: none;
    margin: 8px 0 0;
  }
  .box.list .redeem-text,
  .box.list .redeem-action {
    width: 37%;
  }
  .box.list .redeem-item .redeem-thumbnail {
    width: 22%;
  }
  .box.list .redeem-action .point-numbers {
    min-width: 100%;
    text-align: center;
  }
  .top-redeem figure,
  .top-redeem .right-redeem {
    width: 100%;
  }
  .redeem-page .sub-title h3 {
    text-align: center;
  }
  .notification-list .notification-entry {
    max-width: 100%;
  }
  .notification-list .btn.btn-default {
    transition: all .5s ease-in-out;
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
  .notification-list p {
    margin: 8px 0;
  }
  .custom-pagination {
    -ms-flex-pack: center;
    justify-content: center;
  }
  .notification-content .notification-holder,
  .notification-content .notification-entry {
    width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .notification-content .notification-entry {
    padding: 16px;
    -ms-flex-order: 2;
    order: 2;
  }
  .notification-content .notification-holder {
    -ms-flex-order: 1;
    order: 1;
  }
  .notification-content {
    box-shadow: none;
  }
  .bottom-menu .btn.btn-iconic i {
    font-size: 18px;
  }
  .coachee .trainee-stats .stats-item {
    width: calc(100% / 2);
    margin-bottom: 0;
  }
  .coachee .trainee-stats .stats-item:nth-last-of-type(1),
  .coachee .trainee-stats .stats-item:nth-last-of-type(2) {
    border-top: 1px solid #e9e9e9;
  }
  .coachee .manager-box .manager-chart {
    padding: 16px 0;
  }
  .coachee .manager-box {
    margin: 16px 0;
  }
  .coachee .low-level-progress {
    padding: 16px;
  }
  .coachee .low-level-progress .progress-name {
    width: auto;
  }
  .coachee .low-level-progress .progress-count {
    font-size: 18px;
  }
  .coachee .dashboard-title {
    padding: 16px;
  }
  .coachee .dashboard-title h1 {
    margin-top: 0;
  }
  .coachee .table-option {
    margin-top: 0;
  }
  .review-top {
    margin-top: 0;
  }
  .review-top .container {
    padding-left: 0;
    padding-right: 0;
  }
  .review-top .box-inline {
    border-radius: 0;
    box-shadow: none;
  }
  .trainer-data ul>li p strong {
    display: block;
  }
  .trainer-data ul>li i {
    vertical-align: top;
  }
  .profile-cost-points.custom .profile-card {
    margin: 0 0 16px;
    padding: 16px;
    text-align: center;
    width: calc(100% / 2 - 8px);
  }
  .profile-cost-points.custom .profile-card i {
    display: block;
    margin: 0 auto;
  }
  .profile-cost-points.custom .profile-card .profile-cost {
    display: block;
    width: 100%;
    text-align: center;
  }
  .profile-cost-points.custom .profile-card .info-course span {
    margin-bottom: 0;
  }
  .coachee .bottom-button {
    margin-bottom: 35px;
  }
  .coachee .profile {
    margin-top: 0;
  }
  .coachee .profile-box {
    border-radius: 0;
  }
  .for-hr .top-dashboard {
    padding: 0 16px;
  }
  .for-hr .top-stats {
    padding: 0 16px;
  }
  .for-hr .top-stats .stats-item {
    width: calc(100% / 2 - 8px);
    margin-bottom: 16px;
  }
  .for-hr .stats-list {
    padding: 0 16px;
  }
  .for-hr .stats-list .stats-item {
    border-radius: 8px;
    text-align: center;
    padding: 16px;
  }
  .for-hr .top-hr .top-progress {
    width: 100%;
    padding: 0 16px;
  }
  .for-hr .box-items .vertical-button button {
    display: block;
    width: 100%;
  }
  .for-hr .review-item.short {
    margin-top: 0;
  }
  .for-hr .bottom-menu .btn.btn-iconic span {
    font-size: 10px;
  }
  .for-hr .dashboard-entry .panel-box.mt-24 {
    margin-bottom: 36px;
  }
  .setting-main {
    padding: 0;
  }
  .setting-main .trainee-title {
    margin-top: 0;
  }
  .setting-box .setting-item {
    width: calc(100% / 3 - 8px);
    margin-bottom: 16px;
    padding: 16px;
  }
  .setting-box .setting-item i {
    font-size: 36px;
    line-height: normal;
  }
  .setting-box .setting-item span {
    font-size: 14px;
  }
  .for-hr .sub-menu.has-option h1 {
    font-size: 16px;
  }
  .for-hr .setting-page {
    margin: 0 0 35px;
  }
  .for-hr .setting-page .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .for-hr .setting-page #bannerTable_wrapper .row,
  .for-hr .setting-page #pointsTable_wrapper .row,
  .for-hr .setting-page #employeeTable .row,
  .for-hr .setting-page #employeeTable_wrapper .row,
  .for-hr .setting-page #roleTable .row,
  .for-hr .setting-page #roleTable_wrapper .row,
  .for-hr .setting-page #reportTable_wrapper .row,
  .for-hr .setting-page #purchaseTable_wrapper .row {
    margin-left: 0;
    margin-right: 0;
  }
  .for-hr .setting-page #bannerTable_wrapper .row .col-sm-12.col-md-6,
  .for-hr .setting-page #bannerTable_wrapper .row .col-sm-12,
  .for-hr .setting-page #pointsTable_wrapper .row .col-sm-12.col-md-6,
  .for-hr .setting-page #pointsTable_wrapper .row .col-sm-12,
  .for-hr .setting-page #employeeTable .row .col-sm-12.col-md-6,
  .for-hr .setting-page #employeeTable .row .col-sm-12,
  .for-hr .setting-page #employeeTable_wrapper .row .col-sm-12.col-md-6,
  .for-hr .setting-page #employeeTable_wrapper .row .col-sm-12,
  .for-hr .setting-page #roleTable .row .col-sm-12.col-md-6,
  .for-hr .setting-page #roleTable .row .col-sm-12,
  .for-hr .setting-page #roleTable_wrapper .row .col-sm-12.col-md-6,
  .for-hr .setting-page #roleTable_wrapper .row .col-sm-12,
  .for-hr .setting-page #reportTable_wrapper .row .col-sm-12.col-md-6,
  .for-hr .setting-page #reportTable_wrapper .row .col-sm-12,
  .for-hr .setting-page #purchaseTable_wrapper .row .col-sm-12.col-md-6,
  .for-hr .setting-page #purchaseTable_wrapper .row .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
  }
  .for-hr #bannerTable_wrapper .table-button button,
  .for-hr #pointsTable_wrapper .table-button button,
  .for-hr #employeeTable .table-button button,
  .for-hr #employeeTable_wrapper .table-button button,
  .for-hr #roleTable .table-button button,
  .for-hr #roleTable_wrapper .table-button button,
  .for-hr #reportTable_wrapper .table-button button,
  .for-hr #purchaseTable_wrapper .table-button button {
    margin-right: 8px;
    margin-top: 8px;
  }
  .for-hr .setting-page .nav-pills.small {
    max-width: 100%;
    margin-top: 24px;
  }
  .report-inner .box-inline .box-items {
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid #e9e9e9;
  }
  .report-inner .box-inline .box-items:nth-last-of-type(1) {
    border-bottom: none;
  }
  .report-inner .numeric-box {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .for-hr .report-inner .numeric-box {
    text-align: left;
  }
  .for-hr .report-inner .numeric {
    margin: 0 16px 0 0;
    display: inline-block;
    vertical-align: top;
  }
  .setting-page .tab-space {
    padding: 20px 0 0 0;
  }
  .setting-page .nav-pills.nav-pills-icons .nav-item .nav-link {
    padding: 0;
  }
/*  .setting-page .nav-pills .nav-item i {
    font-size: 28px;
    padding: 16px 0 8px;
  }*/
  .setting-page .nav-pills .nav-item .nav-link {
    font-size: 8px;
    width: auto;
    min-width: initial;
  }
  .setting-page li.nav-item {
    width: 24%;
  }
  .setting-page .panel-box .panel-title h3 {
    font-size: 18px;
  }
  .for-hr .report-inner .numeric-box h4 {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .for-hr .chart-box.in-report {
    margin: 0 0 24px;
  }
  .for-hr .button-center {
    margin-bottom: 55px;
  }
  .login-screen .login-auth {
    width: auto;
    box-shadow: none;
    border-radius: 0;
    border: none;
    padding: 24px;
  }
  .login-screen .login-input h1,
  .login-screen .login-input h1 span {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .panel-box .panel-title {
    text-align: center;
  }
  .panel-box .panel-title h3 {
    text-align: center;
    display: block;
    width: 100%;
  }
  .review-notif span,
  .review-notif a {
    font-size: 12px;
  }
  .review-notif a {
    display: block;
  }
  .mobile-side {
    width: 67%;
  }
}

@media (max-width: 390px) {
  .bottom-menu .btn.btn-iconic span {
    font-size: 10px;
  }
  .trainee-box .item-card .circle-badge {
    right: 8px;
  }
  .achievement .nav.nav-pills li {
    margin: 0 5%;
  }
  .top-achieve .panel-title ul li {
    display: block;
    padding: 4px 0;
  }
  .top-achieve .panel-title ul li:last-child {
    margin: 4px 0 16px;
  }
  .dashboard-steps {
    padding-top: 48px;
  }
  .main-header.for-steps .step-info {
    font-size: 14px;
  }
  .dashboard-steps .form-title {
    margin-top: 0;
  }
  .dashboard-steps .form-title h1 {
    font-size: 18px;
  }
  .dashboard-steps .split-field.medium .field-left {
    padding: 0 60px;
  }
  .bottom-step .steps-count .step-item {
    font-size: 13px;
  }
}