.login-admin{
    background: white;
    .login-admin-content{
        height: 100vh;
        .login-admin-content_right{
            display: grid;
            background-color: var(--yellowindosat);
            .login-admin-content_right-icon{
                position: absolute;
                margin: 10px;
                .login-admin-content_right-icon-image{
                    float: left;
                    img{
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                    }
                }
                .login-admin-content_right-icon-name{
                    margin-left: 5px;
                    margin-top: 1px;
                    float: left;
                    color: white;
                }
            }
        }
        .login-admin-content_left{
            margin: auto;
        }
    }
}
