.trainee-form-request{

    .trainee-form-request-content{
        .trainee-form-request-content_radio-container{
            margin-bottom: 10px;
        }
        .trainee-form-request-content_radio{
            height: 40px;
            border: 1px solid;
            padding: 3px;
            display: flex;
            .trainee-form-request-content_radio_checklist-outer{
                &.active{
                    padding: 3px;
                }
                width: 30px;
                height: 30px;
                border: 1px solid;
                display: block;
                float: left;
                border-radius: 50%;
                .trainee-form-request-content_radio_checklist-inner{
                    width: 100%;
                    height: 100%;
                    display: block;
                    background: black;
                    border-radius: 50%;
                }
            }
        }
        .trainee-form-request-content_textarea{
            .trainee-form-request-content_textarea-text{

            }
            .trainee-form-request-content_textarea-counter{

            }
        }
        .trainee-form-request-content-card{
            &.active{
                border-color: red;
            }
            width: 100%;
            .trainee-form-request-content-card_image{
                height: 80px;
            }
        }
        .trainee-form-request-content-card_button{
            max-width: 100%;
        }
    }
    .trainee-form-request-content_slider{
        .trainee-form-request-content_slider-content{
            .col-3{
                float: left;
            }
            &.active{
                display:flex;
            }
            display: none;
        }
        .carousel-control-prev{
            left: -30px;
            width: 30px;
            background: #eeeeee;
        }
        .carousel-control-next{
            right: -30px;
            width: 30px;
            background: #eeeeee;
        }
    }
}
.trainee-form-request-next{
    height: 80px;
}
.wizard-card {
    .tab-content {
        height: 300px;
    }
}
.trainee-form-request-text{
    .h2 {
        margin-top: 0;
    }
}
.wizard-container {
    padding-top: 0 !important;
}
.trainee-form-request-content-card_content{
    p {
        height: 50px;
        overflow: hidden;
    }
}
.wizard-footer {
    margin-top: 50px;
}
